<app-navbar></app-navbar>

<app-hero></app-hero>

<!-- SECCIÓN AÑADIDA: El componente "Sobre Mí" que habíamos creado -->
<section>
  <app-about-me></app-about-me>
</section>

<!-- ID para la sección "About" -->
<!-- El enlace "About" de la navbar te llevará aquí -->
<section id="about">
  <app-why-choose-me></app-why-choose-me>
</section>

<app-services></app-services>

<!-- ID para la sección "Projects" -->
<section id="projects">
  <app-project-showcase></app-project-showcase>
</section>

<!-- ID para la sección "Contact" -->
<section id="contact">
  <app-contact1></app-contact1>
</section>

<app-footer></app-footer>
